.prly-noprint {
    display: none !important;
}

/* ========= scrollbar ========== */
div::-webkit-scrollbar {
    display: none !important;
}
 
div::-webkit-scrollbar-track {
    display: none !important;
}
 
div::-webkit-scrollbar-thumb {
    display: none !important;
}

