.prly-noprint {
    display: none !important;
}

blockquote {
    border: none;
    border-left: 5px solid #888;
}


/* ========= scrollbar ========== */
div::-webkit-scrollbar {
    display: none !important;
}
 
div::-webkit-scrollbar-track {
    display: none !important;
}
 
div::-webkit-scrollbar-thumb {
    display: none !important;
}
