.prly-article.prly-on .prly-article-title {
    display: none;
}
.prly-article.prly-on .prly-article-body {
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prly-article.prly-on .prly-section,
.prly-article.prly-on .prly-segment {
    border: none !important;
}
