/* ====== Reset ======= */
img { max-width: 100% }


body {
   font-family: "ETBembo"; 
   font-size: 14pt;
   margin: 0;
   -webkit-user-select: none;
       -ms-user-select: none; }

.prly-box,
.prly-section,
.prly-segment,
.prly-article {
    box-sizing: border-box; }

pre,
code,
pre code {
    border: none;
    border-radius: 0;
    background: transparent;
    font-size: 90%; }

hr {
    border-top-color: #888;
}

table,
table td,
table th {
    font-size: inherit;
}

/*===== Markdown ======*/

.prly-markdown p,
.prly-markdown blockquote {
    font-size: inherit; }

.prly-markdown p:last-child,
.prly-markdown table:last-child,
.prly-markdown blockquote:last-child {
    margin-bottom: 0;
}

.prly-markdown blockquote {
    border-color: #111; }

.prly-markdown span.prly-anchor-number {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
}

.prly-markdown h1 {
    font-size: 140%; }

.prly-markdown h1:first-child,
.prly-markdown h2:first-child,
.prly-markdown h3:first-child {
    margin-top: 0;
}
.prly-markdown h1:last-child,
.prly-markdown h2:last-child,
.prly-markdown h3:last-child {
    margin-bottom: 0;
}

.prly-markdown h2 {
    font-size: 120%; }

.prly-markdown blockquote table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prly-markdown blockquote td,
.prly-markdown blockquote th {
    border: 1px solid #888;
    padding: 5px;
}

/* ====== Codewalk ========= */

.prly-code.math .MathJax_Display {
    margin: 0 !important;
}

/* ===== Segment ===== */
@media screen {
    .prly-segment.slide .prly-segment-body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto; }
    .prly-segment.slide { font-size: 130%; }

    .prly-segment.slide.narrow .prly-segment-body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; }


    .prly-segment.page .prly-segment-body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto; }
    .prly-segment.page { font-size: 12pt; }

    .prly-segment .prly-segment-label {
        font-size: 18pt; }
}

/* ===== tools ======= */
/* DEAD */
table.prly-tools {
    border-collapse: collapse;
    margin-bottom: -1px;
}
table.prly-tools th,
table.prly-tools td {
    padding: 0;
    margin: 0;
    border: thin solid #aaa;
    min-width: 70px;
    font-family: Roboto;
    font-size: 7pt;
}

table.prly-tools button
{
    font-family: Roboto;
    font-size: 7pt;
    font-weight: 300;
    border: none;
    outline: none;
    padding: 4px;
    margin: 0;
    background: transparent;
    width: 100%;
}
table.prly-tools button:hover {
    background: #aaa;
}

/* ========= source editor ========= */

div.prly-source-editor {
    display: flex;
    flex-flow: column;
}

div.prly-source-editor .CodeMirror {
    width: 100%;
    height: auto;
}

.CodeMirror {
    height: auto !important;
}

/* ========= scrollbar ========== */
div::-webkit-scrollbar {
    width: 0.5em;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

