<doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/css/highlight.js/github.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/print.css" media="print">
    <title>Presently</title>
</head>
<body>
    <div id="editor"></div>
    <script>
    window.Presently = {
        saveURL: "{{.saveURL}}",
        articleJSON: "{{.article}}",
    };
    </script>
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/jquery-paste-image.js"></script>
    <script src="/static/bundle.js"></script>
</body>
</html>
