{{define "head"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fonts/fonts.css">
    <link rel="stylesheet" href="/static/css/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/css/highlight.js/github.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/print.css" media="print">
    <title>{{.title}}</title>
    <!-- {{if .style}} <style>{{.style}}</style> {{end}} -->
    <link rel="stylesheet" href="/_style.css">
{{end}}
